@import 'variables.scss';
$baseFontSize: 16px;

// Share specific form
.input-group:not(.hidden) {
  padding: 15px 0;
}

input {
  height: 25px;
  font-size: $baseFontSize;
  border-bottom: 1px solid $light-gray;
}

input::-webkit-input-placeholder {
  font-size: $baseFontSize;
  font-family: $font-family;
  color: $light-med-gray;
}
input::-moz-placeholder {
  font-size: $baseFontSize;
  color: $light-med-gray;
}
input::-ms-input-placeholder {
  font-size: $baseFontSize;
  color: $light-med-gray;
}

.input-bottom.error,
.input-bottom.active {
  height: 1px;
}

.creditCard-group {
  button.link {
    font-size: $normal-text-size;
  }
}

.creditCard .cardType {
  top: 0px;
}

.creditCard .checkmark {
  top: 15px;
}


// Rich Text Editor
.richtext-embed {
  .RichEditor-root {
    margin-top: 0 !important;
    padding: 20px 0 !important;
  }
}

.RichEditor-root {
  font-weight: 400;
  font-size: 1em !important;
}

.RichEditor-controls {
  font-size: .83em !important;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root {
  font-weight: 300;
}
