@import 'variables.scss';

/* Modal */
.modal .modalWrapper {
  padding-top: 0px;
}

.modalTop,
.modalBottom {
  display: none;
}

.modalContainer {
  padding: 20px 10px;
}

.mobileFriendly {
  margin: 100px 0;
}

// theme specific
.gbxPaymentForm {

  .creditCard {
    .checkmark {
      right: 5px;
    }
  }

  .creditCard-group .cardsAccepted {
      top: -35px;
  }

  .column {
    display: inline-block;
  }
}


.dropdown.floating-label {
  label {
    top: calc(50% - 35px)
  }
}

.dropdown .label:not(button) {
    font-size: 16px;
}

.dropdown button {
  padding-top: 5px;
  height: 29px;
  font-size: 16px;
}

.dropdown .icon {
  top: 10px;
}

label, .label {
  white-space: nowrap;
  font-size: 12px;
}

// Rich Text Editor
.RichEditor-root {
  font-size: 1em !important;
}

.RichEditor-controls {
  font-size: .83em !important;
}
